$lightest-color: #fff;
$darkest-color: #333;

// Shades of gray
$neutral-10: mix($lightest-color, $darkest-color, 10%);
$neutral-20: mix($lightest-color, $darkest-color, 20%);
$neutral-30: mix($lightest-color, $darkest-color, 30%);
$neutral-40: mix($lightest-color, $darkest-color, 40%);
$neutral-50: mix($lightest-color, $darkest-color, 50%);
$neutral-60: mix($lightest-color, $darkest-color, 60%);
$neutral-70: mix($lightest-color, $darkest-color, 70%);
$neutral-80: mix($lightest-color, $darkest-color, 80%);
$neutral-90: mix($lightest-color, $darkest-color, 90%);

// Theme based color
$primary:        rgb(200, 100, 75);
$primary-light:  lighten($primary, 15%);
$primary-dark:   darken($primary, 15%);

$accent:         rgb(255, 186, 30);
$accent-light:   lighten($accent, 15%);
$accent-dark:    darken($accent, 15%);

$accent-2:         rgb(67, 169, 120);
$accent-2-light:   lighten($accent-2, 15%);
$accent-2-dark:    darken($accent-2, 15%);

$accent-3:         rgb(255, 186, 30);
$accent-3-light:   lighten($accent, 15%);
$accent-3-dark:    darken($accent, 15%);

// Semantic colors;
$info:          darken($primary, 30%);
$info-light:    lighten($info, 15%);
$info-dark:     darken($info, 15%);

$info-2:        darken($accent-2, 30%);
$info-2-light:  lighten($info-2, 15%);
$info-2:        darken($info-2, 15%);

$warn:          darken($accent, 30%);
$warn-light:    lighten($warn, 15%);
$warn-dark:     darken($warn, 15%);

$error:         rgb(255, 64, 34);
$error-light:   lighten($error, 15%);
$error-dark:    darken($error, 15%);
