$sans-serif-main: "Trebuchet MS", Trebuchet, Tahoma, Geneva, sans-serif;
$serif-main:      "Port Lligat Slab", Rockwell, "Lucida Sans Typewriter", serif;

$headline-font: $serif-main;
$headline-2-font: $sans-serif-main;
$body-font: $sans-serif-main;
$button-font: $sans-serif-main;
