$sans-serif-main: "Montserrat", "Trebuchet MS", Trebuchet, sans-serif;
$serif-main:      "Montserrat", "Trebuchet MS", Trebuchet, sans-serif;

$headline-font: $serif-main;
$headline-2-font: $serif-main;
$body-font: $sans-serif-main;
