/*
Error: File to import not found or unreadable: config.
       Load paths:
         Compass::SpriteImporter
         /Users/baccigalupi/Projects/shipd/shipd-style/sass
         /Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-core-1.0.3/stylesheets
        on line 7 of /Users/baccigalupi/Projects/shipd/shipd-style/sass/screen.scss

2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "compass/reset";
7: @import "config";

Backtrace:
/Users/baccigalupi/Projects/shipd/shipd-style/sass/screen.scss:7
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/import_node.rb:45:in `import'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/bin/compass:23:in `load'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/bin/compass:23:in `<main>'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/bin/ruby_executable_hooks:15:in `eval'
/Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: config.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/baccigalupi/Projects/shipd/shipd-style/sass\A          /Users/baccigalupi/.rvm/gems/ruby-2.1.2@shipd-style/gems/compass-core-1.0.3/stylesheets\A         on line 7 of /Users/baccigalupi/Projects/shipd/shipd-style/sass/screen.scss\A \A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";\A 7: @import \"config\";"; }
