<div class='dialog-container'>
  <div class='inner dialog-inner'>
    <div class='dialog inner border rounded'>
      <div class="close-dialog close-x">&times;</div>
      <!-- content here -->
    </div>
  </div>
</div>
