<script class='html-template' type="text/html" id="overlay-template">
  <div id="overlay">
  </div>
</script>

<script class='html-template' type="text/html" id="dialog-template">
  <div class='dialog-container'>
    <div class='inner dialog-inner'>
      <div class='dialog inner border rounded'>
        <div class="close-dialog close-x">&times;</div>
        <!-- content here -->
      </div>
    </div>
  </div>
</script>
